@font-face {
  font-family: Trenda-Regular;
  src: url(/fonts/Trenda-Regular.otf);
}
@font-face {
  font-family: Trenda-Bold;
  src: url(/fonts/Trenda-Bold.otf);
}
@font-face {
  font-family: Trenda-Semibold;
  src: url(/fonts/Trenda-Semibold.otf);
}
@font-face {
  font-family: Black-Diamond;
  src: url(/fonts/Black-Diamond.ttf);
}
body a {
  text-decoration: none;
  color: #eee;
}
body .home {
  background: url(/images/backgroundHome1.png);
  background-position: center top 60px;
}
body .dashboard {
  background-color: #eee;
}
body .main-container {
  display: grid;
  width: 100vw;
  height: 100vh;
  row-gap: 0;
  column-gap: 40px;
  grid-template-rows: 80px auto;
  grid-template-areas: "page-header  page-header page-header" "left-sidebar main        right-sidebar";
}
body .main-container .page-header {
  grid-area: page-header;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .main-container .page-header .header-login {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main-container .page-header .header-login img {
  width: 75%;
  height: auto;
  margin-right: -50px;
}
body .main-container .main,
body .main-container .dashboard {
  grid-area: main;
  margin: 20px 0 0 0;
}
body .main-container .left-sidebar {
  grid-area: left-sidebar;
  text-transform: uppercase;
  font-family: Trenda-Semibold, sans-serif;
  display: grid;
  text-align: center;
  align-items: center;
  border-right: 1.3px solid #1E1151;
  margin: 80px 0;
}
body .main-container .right-sidebar {
  grid-area: right-sidebar;
  background-color: #1E1151;
  background-image: url("/images/rightSidebarBackground1.png");
  background-position: center;
  font-family: Trenda-Bold, sans-serif;
  color: #fff;
  display: grid;
  grid-template-areas: "right-top" "right-middle" "right-bottom";
}
body .main-container .right-sidebar .right-top {
  text-transform: uppercase;
  font-size: smaller;
  color: #FFFF00;
  grid-area: right-top;
  display: grid;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 20px;
}
body .main-container .right-sidebar .right-top .right-sidebar-icon p a {
  color: #FFFF00;
}
body .main-container .right-sidebar .right-top .right-sidebar-icon p a:hover {
  color: #F549C4;
}
body .main-container .right-sidebar .right-top .right-sidebar-bell-image {
  max-width: 20%;
  height: auto;
  margin-bottom: 10px;
}
body .main-container .right-sidebar .right-middle {
  grid-area: right-middle;
  margin: 20px;
  align-items: flex-start;
  display: grid;
}
body .main-container .right-sidebar .right-middle span {
  text-transform: uppercase;
  color: #F549C4;
}
body .main-container .right-sidebar .right-bottom {
  grid-area: right-bottom;
  font-family: Trenda-Semibold, sans-serif;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 20px;
  font-size: smaller;
}
@media only screen and (max-width: 2214px) and (min-width: 1401px) {
  body .main-container {
    grid-template-columns: 300px auto 300px;
  }
  body .main-container .header-home img {
    max-width: 300px;
    height: auto;
    position: absolute;
    top: 10px;
    left: -10px;
  }
  body .main-container .left-sidebar-icon-image {
    max-width: 40%;
    height: auto;
  }
  body .main-container .left-sidebar-icon-home {
    max-width: 40%;
    height: auto;
  }
}
@media only screen and (max-width: 1400px) and (min-width: 1025px) {
  body .main-container {
    grid-template-columns: 150px auto 200px;
  }
  body .main-container .header-home img {
    max-width: 300px;
    height: auto;
    position: absolute;
    top: 10px;
    left: -10px;
  }
  body .main-container .left-sidebar-icon-image {
    max-width: 60%;
    height: auto;
  }
  body .main-container .left-sidebar-icon-home {
    max-width: 60%;
    height: auto;
  }
}
@media only screen and (max-width: 992px) and (min-width: 577px) {
  body .main-container {
    max-width: 100%;
    height: auto;
    grid-template-columns: 100%;
    grid-template-rows: 8% 5% 57% 30%;
    row-gap: 5%;
    grid-template-areas: "page-header" "left-sidebar" "main" "right-sidebar";
  }
  body .main-container .dashboard {
    margin: 0 20px;
  }
  body .main-container .dashboard .dashboard-header-container {
    text-align: center;
  }
  body .main-container .main {
    margin: 10px 10%;
  }
  body .main-container .main .main-header-container {
    text-align: center;
  }
  body .main-container .header-home img {
    max-width: 35%;
    height: auto;
    position: absolute;
    top: 1%;
    left: -10px;
  }
  body .main-container .left-sidebar {
    grid-area: left-sidebar;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    padding: 0 30px;
    margin: 0;
  }
  body .main-container .left-sidebar .left-sidebar-icon-image {
    max-width: 65%;
    height: auto;
  }
  body .main-container .left-sidebar .left-sidebar-icon-home {
    max-width: 65%;
    height: auto;
  }
  body .main-container .right-sidebar {
    grid-template-rows: 33.3% 33.3% 33.3%;
    text-align: center;
    display: grid;
    justify-content: center;
  }
  body .main-container .right-sidebar .right-top {
    text-align: center;
    display: grid;
    justify-content: center;
  }
  body .main-container .right-sidebar .right-middle {
    margin-top: 40px;
    margin-bottom: 100px;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 993px) {
  body .main-container {
    max-width: 100%;
    height: 140vw;
    grid-template-columns: 100%;
    grid-template-rows: 8% 5% 57% 30%;
    row-gap: 5%;
    grid-template-areas: "page-header" "left-sidebar" "main" "right-sidebar";
  }
  body .main-container .dashboard {
    margin: 0 20px;
  }
  body .main-container .dashboard .dashboard-header-container {
    text-align: center;
  }
  body .main-container .main {
    margin: 10px 10%;
  }
  body .main-container .main .main-header-container {
    text-align: center;
  }
  body .main-container .header-home img {
    max-width: 35%;
    height: auto;
    position: absolute;
    top: 1%;
    left: -10px;
  }
  body .main-container .left-sidebar {
    grid-area: left-sidebar;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    padding: 0 30px;
    margin: 0;
  }
  body .main-container .left-sidebar .left-sidebar-icon-image {
    max-width: 65%;
    height: auto;
  }
  body .main-container .left-sidebar .left-sidebar-icon-home {
    max-width: 65%;
    height: auto;
  }
  body .main-container .right-sidebar {
    grid-template-rows: 33.3% 33.3% 33.3%;
    text-align: center;
    display: grid;
    justify-content: center;
  }
  body .main-container .right-sidebar .right-top {
    text-align: center;
    display: grid;
    justify-content: center;
  }
  body .main-container .right-sidebar .right-middle {
    margin-top: 40px;
    margin-bottom: 100px;
  }
}
@media only screen and (max-width: 576px) and (min-width: 350px) {
  body .main-container {
    max-width: 100%;
    height: auto;
    grid-template-columns: 100%;
    grid-template-rows: 8% 5% 57% 30%;
    row-gap: 5%;
    grid-template-areas: "page-header" "left-sidebar" "main" "right-sidebar";
  }
  body .main-container .header-home img {
    max-width: 200px;
    height: auto;
    position: absolute;
    top: 20px;
    left: -10px;
  }
  body .main-container .header-login span {
    color: #fff;
  }
  body .main-container .left-sidebar {
    grid-area: left-sidebar;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    padding: 0 30px;
    margin: 0;
  }
  body .main-container .left-sidebar .left-sidebar-icon-image {
    max-width: 85%;
    height: auto;
  }
  body .main-container .left-sidebar .left-sidebar-icon-home {
    max-width: 85%;
    height: auto;
  }
  body .main-container .right-sidebar {
    grid-template-rows: 33.3% 33.3% 33.3%;
    text-align: center;
    display: grid;
    justify-content: center;
  }
  body .main-container .right-sidebar .right-top {
    text-align: center;
    display: grid;
    justify-content: center;
  }
  body .main-container .right-sidebar .right-middle {
    margin-top: 40px;
    margin-bottom: 100px;
  }
}
@media only screen and (max-width: 349px) and (min-width: 300px) {
  body .main-container {
    max-width: 100%;
    height: auto;
    grid-template-columns: 100%;
    grid-template-rows: 8% 5% 57% 30%;
    row-gap: 5%;
    grid-template-areas: "page-header" "left-sidebar" "main" "right-sidebar";
  }
  body .main-container .header-home img {
    max-width: 200px;
    height: auto;
    position: absolute;
    top: 20px;
    left: -10px;
  }
  body .main-container .header-login span {
    color: #fff;
  }
  body .main-container .left-sidebar {
    grid-area: left-sidebar;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    padding: 0 30px;
    margin: 0;
  }
  body .main-container .left-sidebar .left-sidebar-icon-image {
    max-width: 85%;
    height: auto;
  }
  body .main-container .left-sidebar .left-sidebar-icon-home {
    max-width: 85%;
    height: auto;
  }
  body .main-container .right-sidebar {
    grid-template-rows: 33.3% 33.3% 33.3%;
    text-align: center;
    display: grid;
    justify-content: center;
  }
  body .main-container .right-sidebar .right-top {
    text-align: center;
    display: grid;
    justify-content: center;
  }
  body .main-container .right-sidebar .right-middle {
    margin-top: 40px;
    margin-bottom: 100px;
  }
}
@media only screen and (max-width: 299px) and (min-width: 100px) {
  body .main-container {
    max-width: 100%;
    height: auto;
    grid-template-columns: 100%;
    grid-template-rows: 8% 5% 57% 30%;
    row-gap: 5%;
    grid-template-areas: "page-header" "left-sidebar" "main" "right-sidebar";
  }
  body .main-container .header-home img {
    max-width: 200px;
    height: auto;
    position: absolute;
    top: 20px;
    left: -10px;
  }
  body .main-container .header-login span {
    color: #fff;
  }
  body .main-container .left-sidebar {
    grid-area: left-sidebar;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    padding: 0 30px;
    margin: 0;
  }
  body .main-container .left-sidebar .left-sidebar-icon-image {
    max-width: 85%;
    height: auto;
  }
  body .main-container .left-sidebar .left-sidebar-icon-home {
    max-width: 85%;
    height: auto;
  }
  body .main-container .right-sidebar {
    grid-template-rows: 33.3% 33.3% 33.3%;
    text-align: center;
    display: grid;
    justify-content: center;
  }
  body .main-container .right-sidebar .right-top {
    text-align: center;
    display: grid;
    justify-content: center;
  }
  body .main-container .right-sidebar .right-middle {
    margin-top: 40px;
    margin-bottom: 100px;
  }
}

@font-face {
  font-family: Trenda-Regular;
  src: url(/fonts/Trenda-Regular.otf);
}
@font-face {
  font-family: Trenda-Bold;
  src: url(/fonts/Trenda-Bold.otf);
}
@font-face {
  font-family: Trenda-Semibold;
  src: url(/fonts/Trenda-Semibold.otf);
}
@font-face {
  font-family: Black-Diamond;
  src: url(/fonts/Black-Diamond.ttf);
}
.main .main-primary-header {
  color: #FFFF00;
  font-family: Trenda-Bold;
  font-size: 2.75rem;
  text-transform: uppercase;
}
.main .main-secondary-header {
  color: #1E1151;
  font-family: Trenda-Semibold;
  font-size: 2rem;
}
.main .box-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  row-gap: 20px;
}
.main .box-container .campaign-dashboard:hover,
.main .box-container .campaign-box:hover {
  filter: brightness(110%);
}
.main .box-container .campaign-dashboard {
  grid-column: 1/21;
  padding-top: -10rem;
  padding-bottom: 8rem;
  border-radius: 5px;
  background-color: #1E1151;
  color: #eee;
  justify-content: space-around;
  background-image: url("../../images/viewCampaignDashboardIcon1.png");
  background-repeat: no-repeat;
  background-position: right -25px bottom -40px;
  background-size: 200px;
}
.main .box-container .campaign-dashboard .campaign-dashboard-text {
  font-family: Trenda-Bold;
  text-transform: uppercase;
  font-size: 120%;
  position: relative;
  top: 50px;
  left: 30px;
}
.main .box-container .campaign-box {
  border-radius: 5px;
  background-color: #1E1151;
  color: #eee;
  padding-bottom: 8rem;
  background-repeat: no-repeat;
  background-position: right -15px bottom -15px;
  background-size: 90px;
}
.main .box-container .campaign-box-text {
  font-family: Trenda-Bold;
  text-transform: uppercase;
  font-size: 120%;
  position: relative;
  top: 30px;
  left: 20px;
}
.main .box-container .campaign-box-item-1 {
  grid-column: 1/7;
  background-image: url("../../images/createCampaignIcon1.png");
}
.main .box-container .campaign-box-item-2 {
  grid-column: 8/14;
  background-image: url("../../images/addCampaignIcon1.png");
}
.main .box-container .campaign-box-item-3 {
  grid-column: 15/21;
  background-image: url("../../images/copyCampaignIcon1.png");
}
@media only screen and (min-width: 1400px) {
  .main .box-container {
    grid-template-columns: repeat(29, 1fr);
  }
  .main .box-container .campaign-dashboard {
    grid-column: 1/31;
    padding-bottom: 14rem;
    background-size: 300px;
  }
  .main .box-container .campaign-dashboard .campaign-dashboard-text {
    font-size: 150%;
    top: 65px;
    left: 40px;
  }
  .main .box-container .campaign-box {
    padding-bottom: 14rem;
    background-size: 120px;
  }
  .main .box-container .campaign-box .campaign-box-text {
    font-size: 150%;
    top: 65px;
    left: 40px;
  }
  .main .box-container .campaign-box-item-1 {
    grid-column: 1/10;
  }
  .main .box-container .campaign-box-item-2 {
    grid-column: 11/20;
  }
  .main .box-container .campaign-box-item-3 {
    grid-column: 21/30;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .main .box-container {
    grid-template-columns: repeat(23, 1fr);
  }
  .main .box-container .campaign-dashboard {
    grid-column: 1/24;
    padding-bottom: 10rem;
  }
  .main .box-container .campaign-dashboard .campaign-dashboard-text {
    font-size: 120%;
    top: 50px;
    left: 40px;
  }
  .main .box-container .campaign-box {
    padding-bottom: 9rem;
  }
  .main .box-container .campaign-box .campaign-box-text {
    font-size: 120%;
    top: 45px;
    left: 40px;
  }
  .main .box-container .campaign-box-item-1 {
    grid-column: 1/12;
  }
  .main .box-container .campaign-box-item-2 {
    grid-column: 13/24;
  }
  .main .box-container .campaign-box-item-3 {
    grid-column: 1/24;
    background-size: 150px;
  }
}
@media only screen and (max-width: 768px) and (min-width: 577px) {
  .main .box-container {
    grid-template-columns: repeat(18, 1fr);
  }
  .main .box-container .campaign-dashboard {
    grid-column: 1/19;
    padding-bottom: 4rem;
    background-size: 150px;
    background-position: right -15px bottom -25px;
  }
  .main .box-container .campaign-dashboard .campaign-dashboard-text {
    font-size: 100%;
    top: 30px;
    left: 15px;
  }
  .main .box-container .campaign-box {
    padding-bottom: 4rem;
    background-size: 50px;
    background-position: right -10px bottom -10px;
  }
  .main .box-container .campaign-box-item-3 {
    background-size: 80px;
  }
  .main .box-container .campaign-box .campaign-box-text {
    font-size: 80%;
    top: 20px;
    left: 15px;
  }
  .main .box-container .campaign-box-item-1 {
    grid-column: 1/10;
  }
  .main .box-container .campaign-box-item-2 {
    grid-column: 11/20;
  }
  .main .box-container .campaign-box-item-3 {
    grid-column: 1/20;
  }
}
@media only screen and (max-width: 576px) {
  .main .main-header-container {
    text-align: center;
    margin-top: -40px;
  }
  .main .box-container {
    grid-template-columns: repeat(3, 1fr);
    margin: 20px 40px;
  }
  .main .box-container .campaign-dashboard {
    grid-column: 1/4;
    padding-bottom: 3rem;
  }
  .main .box-container .campaign-dashboard .campaign-dashboard-text {
    font-size: 100%;
    top: 25px;
    left: 30px;
  }
  .main .box-container .campaign-box {
    padding-bottom: 2rem;
  }
  .main .box-container .campaign-box .campaign-box-text {
    font-size: 100%;
    top: 15px;
    left: 30px;
  }
  .main .box-container .campaign-box-item-1 {
    grid-column: 1/4;
  }
  .main .box-container .campaign-box-item-2 {
    grid-column: 1/4;
  }
  .main .box-container .campaign-box-item-3 {
    grid-column: 1/4;
  }
}

@font-face {
  font-family: Trenda-Regular;
  src: url(/fonts/Trenda-Regular.otf);
}
@font-face {
  font-family: Trenda-Bold;
  src: url(/fonts/Trenda-Bold.otf);
}
@font-face {
  font-family: Trenda-Semibold;
  src: url(/fonts/Trenda-Semibold.otf);
}
@font-face {
  font-family: Black-Diamond;
  src: url(/fonts/Black-Diamond.ttf);
}
body a {
  text-decoration: none;
  color: #eee;
}
body .home {
  background: url(/images/backgroundHome1.png);
  background-position: center top 60px;
}
body .dashboard {
  background-color: #eee;
}
body .main-container {
  display: grid;
  width: 100vw;
  height: 100vh;
  row-gap: 0;
  column-gap: 40px;
  grid-template-rows: 80px auto;
  grid-template-areas: "page-header  page-header page-header" "left-sidebar main        right-sidebar";
}
body .main-container .page-header {
  grid-area: page-header;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .main-container .page-header .header-login {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main-container .page-header .header-login img {
  width: 75%;
  height: auto;
  margin-right: -50px;
}
body .main-container .main,
body .main-container .dashboard {
  grid-area: main;
  margin: 20px 0 0 0;
}
body .main-container .left-sidebar {
  grid-area: left-sidebar;
  text-transform: uppercase;
  font-family: Trenda-Semibold, sans-serif;
  display: grid;
  text-align: center;
  align-items: center;
  border-right: 1.3px solid #1E1151;
  margin: 80px 0;
}
body .main-container .right-sidebar {
  grid-area: right-sidebar;
  background-color: #1E1151;
  background-image: url("/images/rightSidebarBackground1.png");
  background-position: center;
  font-family: Trenda-Bold, sans-serif;
  color: #fff;
  display: grid;
  grid-template-areas: "right-top" "right-middle" "right-bottom";
}
body .main-container .right-sidebar .right-top {
  text-transform: uppercase;
  font-size: smaller;
  color: #FFFF00;
  grid-area: right-top;
  display: grid;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 20px;
}
body .main-container .right-sidebar .right-top .right-sidebar-icon p a {
  color: #FFFF00;
}
body .main-container .right-sidebar .right-top .right-sidebar-icon p a:hover {
  color: #F549C4;
}
body .main-container .right-sidebar .right-top .right-sidebar-bell-image {
  max-width: 20%;
  height: auto;
  margin-bottom: 10px;
}
body .main-container .right-sidebar .right-middle {
  grid-area: right-middle;
  margin: 20px;
  align-items: flex-start;
  display: grid;
}
body .main-container .right-sidebar .right-middle span {
  text-transform: uppercase;
  color: #F549C4;
}
body .main-container .right-sidebar .right-bottom {
  grid-area: right-bottom;
  font-family: Trenda-Semibold, sans-serif;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 20px;
  font-size: smaller;
}
@media only screen and (max-width: 2214px) and (min-width: 1401px) {
  body .main-container {
    grid-template-columns: 300px auto 300px;
  }
  body .main-container .header-home img {
    max-width: 300px;
    height: auto;
    position: absolute;
    top: 10px;
    left: -10px;
  }
  body .main-container .left-sidebar-icon-image {
    max-width: 40%;
    height: auto;
  }
  body .main-container .left-sidebar-icon-home {
    max-width: 40%;
    height: auto;
  }
}
@media only screen and (max-width: 1400px) and (min-width: 1025px) {
  body .main-container {
    grid-template-columns: 150px auto 200px;
  }
  body .main-container .header-home img {
    max-width: 300px;
    height: auto;
    position: absolute;
    top: 10px;
    left: -10px;
  }
  body .main-container .left-sidebar-icon-image {
    max-width: 60%;
    height: auto;
  }
  body .main-container .left-sidebar-icon-home {
    max-width: 60%;
    height: auto;
  }
}
@media only screen and (max-width: 992px) and (min-width: 577px) {
  body .main-container {
    max-width: 100%;
    height: auto;
    grid-template-columns: 100%;
    grid-template-rows: 8% 5% 57% 30%;
    row-gap: 5%;
    grid-template-areas: "page-header" "left-sidebar" "main" "right-sidebar";
  }
  body .main-container .dashboard {
    margin: 0 20px;
  }
  body .main-container .dashboard .dashboard-header-container {
    text-align: center;
  }
  body .main-container .main {
    margin: 10px 10%;
  }
  body .main-container .main .main-header-container {
    text-align: center;
  }
  body .main-container .header-home img {
    max-width: 35%;
    height: auto;
    position: absolute;
    top: 1%;
    left: -10px;
  }
  body .main-container .left-sidebar {
    grid-area: left-sidebar;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    padding: 0 30px;
    margin: 0;
  }
  body .main-container .left-sidebar .left-sidebar-icon-image {
    max-width: 65%;
    height: auto;
  }
  body .main-container .left-sidebar .left-sidebar-icon-home {
    max-width: 65%;
    height: auto;
  }
  body .main-container .right-sidebar {
    grid-template-rows: 33.3% 33.3% 33.3%;
    text-align: center;
    display: grid;
    justify-content: center;
  }
  body .main-container .right-sidebar .right-top {
    text-align: center;
    display: grid;
    justify-content: center;
  }
  body .main-container .right-sidebar .right-middle {
    margin-top: 40px;
    margin-bottom: 100px;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 993px) {
  body .main-container {
    max-width: 100%;
    height: 140vw;
    grid-template-columns: 100%;
    grid-template-rows: 8% 5% 57% 30%;
    row-gap: 5%;
    grid-template-areas: "page-header" "left-sidebar" "main" "right-sidebar";
  }
  body .main-container .dashboard {
    margin: 0 20px;
  }
  body .main-container .dashboard .dashboard-header-container {
    text-align: center;
  }
  body .main-container .main {
    margin: 10px 10%;
  }
  body .main-container .main .main-header-container {
    text-align: center;
  }
  body .main-container .header-home img {
    max-width: 35%;
    height: auto;
    position: absolute;
    top: 1%;
    left: -10px;
  }
  body .main-container .left-sidebar {
    grid-area: left-sidebar;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    padding: 0 30px;
    margin: 0;
  }
  body .main-container .left-sidebar .left-sidebar-icon-image {
    max-width: 65%;
    height: auto;
  }
  body .main-container .left-sidebar .left-sidebar-icon-home {
    max-width: 65%;
    height: auto;
  }
  body .main-container .right-sidebar {
    grid-template-rows: 33.3% 33.3% 33.3%;
    text-align: center;
    display: grid;
    justify-content: center;
  }
  body .main-container .right-sidebar .right-top {
    text-align: center;
    display: grid;
    justify-content: center;
  }
  body .main-container .right-sidebar .right-middle {
    margin-top: 40px;
    margin-bottom: 100px;
  }
}
@media only screen and (max-width: 576px) and (min-width: 350px) {
  body .main-container {
    max-width: 100%;
    height: auto;
    grid-template-columns: 100%;
    grid-template-rows: 8% 5% 57% 30%;
    row-gap: 5%;
    grid-template-areas: "page-header" "left-sidebar" "main" "right-sidebar";
  }
  body .main-container .header-home img {
    max-width: 200px;
    height: auto;
    position: absolute;
    top: 20px;
    left: -10px;
  }
  body .main-container .header-login span {
    color: #fff;
  }
  body .main-container .left-sidebar {
    grid-area: left-sidebar;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    padding: 0 30px;
    margin: 0;
  }
  body .main-container .left-sidebar .left-sidebar-icon-image {
    max-width: 85%;
    height: auto;
  }
  body .main-container .left-sidebar .left-sidebar-icon-home {
    max-width: 85%;
    height: auto;
  }
  body .main-container .right-sidebar {
    grid-template-rows: 33.3% 33.3% 33.3%;
    text-align: center;
    display: grid;
    justify-content: center;
  }
  body .main-container .right-sidebar .right-top {
    text-align: center;
    display: grid;
    justify-content: center;
  }
  body .main-container .right-sidebar .right-middle {
    margin-top: 40px;
    margin-bottom: 100px;
  }
}
@media only screen and (max-width: 349px) and (min-width: 300px) {
  body .main-container {
    max-width: 100%;
    height: auto;
    grid-template-columns: 100%;
    grid-template-rows: 8% 5% 57% 30%;
    row-gap: 5%;
    grid-template-areas: "page-header" "left-sidebar" "main" "right-sidebar";
  }
  body .main-container .header-home img {
    max-width: 200px;
    height: auto;
    position: absolute;
    top: 20px;
    left: -10px;
  }
  body .main-container .header-login span {
    color: #fff;
  }
  body .main-container .left-sidebar {
    grid-area: left-sidebar;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    padding: 0 30px;
    margin: 0;
  }
  body .main-container .left-sidebar .left-sidebar-icon-image {
    max-width: 85%;
    height: auto;
  }
  body .main-container .left-sidebar .left-sidebar-icon-home {
    max-width: 85%;
    height: auto;
  }
  body .main-container .right-sidebar {
    grid-template-rows: 33.3% 33.3% 33.3%;
    text-align: center;
    display: grid;
    justify-content: center;
  }
  body .main-container .right-sidebar .right-top {
    text-align: center;
    display: grid;
    justify-content: center;
  }
  body .main-container .right-sidebar .right-middle {
    margin-top: 40px;
    margin-bottom: 100px;
  }
}
@media only screen and (max-width: 299px) and (min-width: 100px) {
  body .main-container {
    max-width: 100%;
    height: auto;
    grid-template-columns: 100%;
    grid-template-rows: 8% 5% 57% 30%;
    row-gap: 5%;
    grid-template-areas: "page-header" "left-sidebar" "main" "right-sidebar";
  }
  body .main-container .header-home img {
    max-width: 200px;
    height: auto;
    position: absolute;
    top: 20px;
    left: -10px;
  }
  body .main-container .header-login span {
    color: #fff;
  }
  body .main-container .left-sidebar {
    grid-area: left-sidebar;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    padding: 0 30px;
    margin: 0;
  }
  body .main-container .left-sidebar .left-sidebar-icon-image {
    max-width: 85%;
    height: auto;
  }
  body .main-container .left-sidebar .left-sidebar-icon-home {
    max-width: 85%;
    height: auto;
  }
  body .main-container .right-sidebar {
    grid-template-rows: 33.3% 33.3% 33.3%;
    text-align: center;
    display: grid;
    justify-content: center;
  }
  body .main-container .right-sidebar .right-top {
    text-align: center;
    display: grid;
    justify-content: center;
  }
  body .main-container .right-sidebar .right-middle {
    margin-top: 40px;
    margin-bottom: 100px;
  }
}

[data-ml-modal] {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 999;
  width: 0;
  height: 0;
  opacity: 0;
}

[data-ml-modal]:target {
  width: auto;
  height: auto;
  opacity: 1;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

[data-ml-modal]:target .modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

[data-ml-modal] .modal-dialog {
  border-radius: 6px;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
  position: relative;
  width: 40%;
  margin: 5% auto;
  max-width: 660px;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 2;
}

.modal-dialog-lg {
  max-width: 820px !important;
}

[data-ml-modal] .modal-dialog > h3 {
  background-color: #0BAECD;
  border-bottom: 1px solid #b3b3b3;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  padding: 0.8em 56px 0.8em 27px;
  color: #eee;
  font-family: Trenda-Bold;
}
[data-ml-modal] .modal-dialog > h3 span {
  font-family: Black-Diamond;
}

[data-ml-modal] .modal-content {
  background: #fff;
  text-align: center;
  padding: 0 20px;
}
[data-ml-modal] .modal-content img {
  width: 200px;
  height: auto;
}
[data-ml-modal] .modal-content h3 {
  color: #0BAECD;
  font-size: 24px;
  font-family: Trenda-Semibold;
}
[data-ml-modal] .modal-content p {
  color: #020052;
  font-family: Trenda-Semibold;
  padding: 25px;
}
[data-ml-modal] .modal-content .modal-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 0 0;
}
[data-ml-modal] .modal-content .modal-button-container .modal-button {
  padding: 10px 30px;
  text-transform: uppercase;
  font-family: Trenda-Bold;
  border-radius: 3px;
}
[data-ml-modal] .modal-content .modal-button-container .modal-button-approve {
  background-color: #020052;
  margin-right: 2%;
}
[data-ml-modal] .modal-content .modal-button-container .modal-button-cancel {
  background-color: grey;
  margin-left: 2%;
}
[data-ml-modal] .modal-content .modal-button-container .modal-button:hover {
  filter: brightness(110%);
}

[data-ml-modal] .modal-close {
  position: absolute;
  top: 18px;
  right: 13px;
  color: #eee;
  background-color: #1E1151;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  font-size: 36px;
  line-height: 28px;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

[data-ml-modal] .modal-close:hover {
  background-color: #eee;
  color: #1E1151;
  cursor: pointer;
}

[data-ml-modal] p:first-child,
[data-ml-modal] p:last-child {
  margin: 0;
}

@media only screen and (min-width: 1400px) {
  [data-ml-modal] .modal-dialog {
    width: 40%;
    margin: 10% auto;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 577px) {
  [data-ml-modal] .modal-dialog {
    width: 60%;
    margin: 30% auto;
  }
}
@media only screen and (max-width: 576px) {
  [data-ml-modal] .modal-dialog {
    width: 90%;
    margin: 40% auto;
  }
}
@media only screen and (max-width: 576px) and (min-width: 350px) {
  [data-ml-modal] .modal-dialog {
    width: 90%;
    margin: 20% auto;
  }
}
@media only screen and (max-width: 349px) and (min-width: 300px) {
  [data-ml-modal] .modal-dialog {
    width: 100%;
    margin: 10% auto;
  }
}
@media only screen and (max-width: 299px) and (min-width: 100px) {
  [data-ml-modal] .modal-dialog {
    width: 100%;
    margin: 10% auto;
  }
}
.dashboard .dashboard-header-container {
  margin-top: 20px;
}
.dashboard .dashboard-primary-header {
  color: #0BAECD;
  font-family: Trenda-Bold;
  font-size: 2rem;
  text-transform: uppercase;
}
.dashboard .dashboard-secondary-header {
  color: #020052;
  font-family: Trenda-Semibold;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard .dashboard-secondary-header .dashboard-secondary-list-item {
  cursor: pointer;
  padding: 0 10px;
}
.dashboard .dashboard-secondary-header .dashboard-secondary-list-item:hover {
  color: grey;
}
.dashboard .dashboard-secondary-header .add-table-item img {
  width: 50px;
  height: 50px;
}
.dashboard .dashboard-secondary-header .dropdown {
  overflow: hidden;
}
.dashboard .dashboard-secondary-header .dropdown:hover .dropdown-content {
  display: block;
}
.dashboard .dashboard-secondary-header .dropdown a:hover, .dashboard .dashboard-secondary-header .dropdown:hover,
.dashboard .dashboard-secondary-header .dropdown .dropbtn {
  background-color: #eee;
  cursor: pointer;
}
.dashboard .dashboard-secondary-header .dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #1E1151;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dashboard .dashboard-secondary-header .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #eee;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dashboard .dashboard-secondary-header .dropdown .dropdown-content a {
  float: none;
  color: black;
  padding: 10px 16px;
  display: block;
  border-radius: 3px;
}
.dashboard .dashboard-secondary-header .dropdown .dropdown-content a:hover {
  background-color: #0BAECD;
  border-radius: 3px;
}
.dashboard .table-container {
  margin-top: 10px;
  background-color: #eee;
}
.dashboard .table-container .table-header {
  background-color: #1E1151;
  color: #eee;
  text-align: center;
}
.dashboard .table-container .grid-table {
  display: grid;
  margin: 0 auto;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  background: rgba(250, 250, 250, 0.9);
  border-radius: 0.3rem;
}
.dashboard .table-container .grid-table-row {
  display: grid;
  grid-template-columns: 25% 20% 20% 35%;
}
.dashboard .table-container .grid-table-row:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
.dashboard .table-container .grid-table-row:first-child {
  border-radius: 0.3rem 0.3rem 0 0;
}
.dashboard .table-container .grid-table-row .campaign-name-text {
  margin: 10px 12px 0 0;
  font-family: Trenda-Semibold;
  color: #1E1151;
}
.dashboard .table-container .grid-table .campaign-row-secondary {
  display: grid;
  grid-template-areas: "campaign-cell-button-container campaign-cell-text-container" "campaign-cell-button-container campaign-cell-text-container";
  align-items: baseline;
  justify-content: center;
  margin-top: 10px;
}
.dashboard .table-container .grid-table .campaign-row-secondary .campaign-cell-text-container {
  grid-area: campaign-cell-text-container;
  color: grey;
  font-size: 10px;
  font-family: Trenda-Semibold;
  text-align: left;
  margin-left: 12px;
}
.dashboard .table-container .grid-table .campaign-row-secondary .campaign-cell-text-container p {
  margin-bottom: 12px;
}
.dashboard .table-container .grid-table .campaign-row-secondary .campaign-cell-button-container {
  grid-area: campaign-cell-button-container;
}
.dashboard .table-container .grid-table .table-button {
  color: #eee;
  background-color: #0BAECD;
  border-radius: 4px;
  text-transform: uppercase;
  font-family: Trenda-Bold;
  font-size: 10px;
  padding: 3px 8px;
}
.dashboard .table-container .grid-table .table-button-tools {
  padding: 3px 15px;
}
.dashboard .table-container .grid-table .table-button-next {
  background-color: #1E1151;
  padding: 3px 10px;
}
.dashboard .table-container .grid-table-header {
  padding: 0.4rem;
  font-size: 12px;
  font-family: Trenda-Bold;
}
.dashboard .table-container .grid-table-cell-1 {
  text-align: center;
}
.dashboard .table-container .grid-table-cell-2, .dashboard .table-container .grid-table-cell-3 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.dashboard .table-container .grid-table-cell-4 .progress-top {
  text-align: left;
  position: relative;
  top: 15%;
  left: 15%;
  max-width: 70%;
  font-size: 14px;
  font-family: Trenda-Semibold;
}
.dashboard .table-container .grid-table-cell-4 .progress-bottom {
  text-align: left;
  position: relative;
  top: -15%;
  left: 15%;
  max-width: 70%;
  font-size: 13px;
  font-family: Trenda-Regular;
}
.dashboard .table-container .grid-table-cell-4 .progress {
  margin: 20px auto;
  padding: 0;
  width: 70%;
  height: 16px;
  overflow: hidden;
  background: #e5e5e5;
  border-radius: 4px;
}
.dashboard .table-container .grid-table-cell-4 .progress .bar {
  position: relative;
  border-radius: 8px;
  float: left;
  min-width: 1%;
  height: 100%;
  background: linear-gradient(70deg, #1e1151 5%, #0baecd 25%, #7aa0ff 85%, #02cec9 100%);
}
.dashboard .table-container .grid-table-cell-4 .progress .bar .percent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-family: tahoma, arial, helvetica;
  font-size: 12px;
  color: white;
}
.dashboard .table-container .grid-table-cell:not(:last-child) {
  border-right: 1px solid #ddd;
}
@media only screen and (max-width: 1024px) and (min-width: 100px) {
  .dashboard .dashboard-header-container {
    text-align: center;
  }
  .dashboard .dashboard-header-container .dashboard-secondary-header {
    justify-content: center;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: Trenda-Regular, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/*# sourceMappingURL=styles.css.map */
