$mainBlue: #1E1151;
$headerBlueCreate: #020052;
$headerBlueVM: #0BAECD;
$mainYellow: #FFFF00;
$rightSidebarPink: #F549C4;
$mainWhite: #eee;

@font-face {
    font-family: Trenda-Regular;
    src: url(/fonts/Trenda-Regular.otf);
}

@font-face {
    font-family: Trenda-Bold;
    src: url(/fonts/Trenda-Bold.otf);
}

@font-face {
    font-family: Trenda-Semibold;
    src: url(/fonts/Trenda-Semibold.otf);
}

@font-face {
    font-family: Black-Diamond;
    src: url(/fonts/Black-Diamond.ttf);
}