@import 'layout';
@import 'modal';

.dashboard {

    .dashboard-header-container {
        margin-top: 20px;
    }

    .dashboard-primary-header {
        color: $headerBlueVM;
        font-family: Trenda-Bold;
        font-size: 2rem;
        @include textTransform(uppercase);
    }

    .dashboard-secondary-header {
        color: $headerBlueCreate;
        font-family: Trenda-Semibold;
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .dashboard-secondary-list-item {
            cursor: pointer;
            padding: 0 10px;

            &:hover {
                color: grey;
            }
        }

        .add-table-item {
            img {
                width: 50px;
                height: 50px;
            }
        }

        .dropdown {
            overflow: hidden;

            &:hover .dropdown-content {
                display: block;
            }

            a:hover,
            &:hover,
            .dropbtn {
                background-color: $mainWhite;
                cursor: pointer;
            }

            .dropbtn {
                font-size: 16px;
                border: none;
                outline: none;
                color: $mainBlue;
                background-color: inherit;
                font-family: inherit;
                margin: 0;
            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: $mainWhite;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 1;


                a {
                    float: none;
                    color: black;
                    padding: 10px 16px;
                    display: block;
                    border-radius: 3px;
                }

                a:hover {
                    background-color: $headerBlueVM;
                    border-radius: 3px;
                }
            }
        }
    }

    .table-container {
        margin-top: 10px;
        background-color: $mainWhite;

        .table-header {
            background-color: $mainBlue;
            color: $mainWhite;
            text-align: center;
        }

        .grid-table {
            display: grid;
            margin: 0 auto;
            box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
            background: rgba(#fafafa, 0.9);
            border-radius: 0.3rem;

            &-row {
                display: grid;
                grid-template-columns: 25% 20% 20% 35%;

                &:not(:last-child) {
                    border-bottom: 1px solid #ddd;
                }

                &:first-child {
                    border-radius: 0.3rem 0.3rem 0 0;
                }

                .campaign-name-text {
                    margin: 10px 12px 0 0;
                    font-family: Trenda-Semibold;
                    color: $mainBlue;
                }
            }

            .campaign-row-secondary {
                display: grid;
                align-items: baseline;
                justify-content: center;
                margin-top: 10px;

                .campaign-cell-text-container {
                    grid-area: campaign-cell-text-container;
                    color: grey;
                    font-size: 10px;
                    font-family: Trenda-Semibold;
                    text-align: left;
                    margin-left: 12px;
                }

                .campaign-cell-button-container {
                    grid-area: campaign-cell-button-container;
                }
            }

            .table-button {
                color: $mainWhite;
                background-color: $headerBlueVM;
                border-radius: 4px;
                @include textTransform(uppercase);
                font-family: Trenda-Bold;
                font-size: 10px;
                padding: 3px 8px;

                &-tools {
                    padding: 3px 15px;
                }

                &-next {
                    background-color: $mainBlue;
                    padding: 3px 10px;
                }

            }

            &-header {
                padding: 0.4rem;
                font-size: 12px;
                font-family: Trenda-Bold;
            }

            &-cell {
                &-1 {
                    text-align: center;
                }

                &-2,
                &-3 {
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    flex-wrap: wrap;
                }

                &-4 {

                    .progress-top {
                        text-align: left;
                        position: relative;
                        top: 15%;
                        left: 15%;
                        max-width: 70%;
                        font-size: 14px;
                        font-family: Trenda-Semibold;
                    }

                    .progress-bottom {
                        text-align: left;
                        position: relative;
                        top: -15%;
                        left: 15%;
                        max-width: 70%;
                        font-size: 13px;
                        font-family: Trenda-Regular;
                    }

                    .progress {
                        margin: 20px auto;
                        padding: 0;
                        width: 70%;
                        height: 16px;
                        overflow: hidden;
                        background: #e5e5e5;
                        border-radius: 4px;

                        .bar {
                            position: relative;
                            border-radius: 8px;
                            float: left;
                            min-width: 1%;
                            height: 100%;
                            background: linear-gradient(70deg, rgb(30, 17, 81) 5%, rgb(11, 174, 205) 25%, rgb(122, 160, 255) 85%, rgb(2, 206, 201) 100%);

                            .percent {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                margin: 0;
                                font-family: tahoma, arial, helvetica;
                                font-size: 12px;
                                color: white;
                            }
                        }
                    }
                }

                &:not(:last-child) {
                    border-right: 1px solid #ddd;
                }

            }
        }


    }

    @media only screen and (max-width: 1024px) and (min-width: 100px) {
        .dashboard-header-container {
            text-align: center;

            .dashboard-secondary-header {
                justify-content: center;
            }
        }
    }

    @media only screen and (min-width: 100px) and (max-width: 600px) {
        .campaign-row-secondary {
            grid-template-areas: 'campaign-cell-button-container campaign-cell-button-container'
                'campaign-cell-text-container campaign-cell-text-container';

            .campaign-cell-text-container {
                p:nth-child(2n-1) {
                    margin-top: 12px;
                }
            }
        }
    }

    @media only screen and (min-width: 601px) and (max-width: 5000px) {
        .campaign-row-secondary {
            grid-template-areas: 'campaign-cell-button-container campaign-cell-text-container'
                'campaign-cell-button-container campaign-cell-text-container';

            .campaign-cell-text-container {
                p:nth-child(2n) {
                    margin-top: 12px;
                }
            }
        }
    }

}