* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: url(/images/backgroundHome.png);
  background-size: cover;
}

.main-container {
  display: -ms-grid;
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-gap: 0;
  -ms-grid-rows: 15% 85%;
      grid-template-rows: 15% 85%;
      grid-template-areas: 'page-header  page-header page-header' 'left-sidebar main        right-sidebar';
}

.main-container .page-header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: page-header;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .page-header .header-home {
  margin-left: 20px;
}

.main-container .page-header .header-login {
  margin-right: 20px;
}

.main-container .main {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: main;
  margin: 20px 0 0 0;
}

.main-container .left-sidebar {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: left-sidebar;
  display: -ms-grid;
  display: grid;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1.3px solid #1E1151;
  margin: 80px 0;
}

.main-container .right-sidebar {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: right-sidebar;
  background-color: #1E1151;
  color: #fff;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'right-top' 'right-middle' 'right-bottom';
}

.main-container .right-sidebar .right-top {
  text-transform: uppercase;
  font-size: smaller;
  color: #FFFF00;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: right-top;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 20px;
}

.main-container .right-sidebar .right-top .bell-image {
  margin-bottom: 10px;
}

.main-container .right-sidebar .right-middle {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: right-middle;
  margin: 20px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -ms-grid;
  display: grid;
}

.main-container .right-sidebar .right-middle span {
  text-transform: uppercase;
  color: #F549C4;
}

.main-container .right-sidebar .right-bottom {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: right-bottom;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px;
  font-size: smaller;
}

@media only screen and (max-width: 2214px) {
  .main-container {
    -ms-grid-columns: 350px auto 350px;
        grid-template-columns: 350px auto 350px;
  }
}

@media only screen and (max-width: 1400px) {
  .main-container {
    -ms-grid-columns: 200px auto 250px;
        grid-template-columns: 200px auto 250px;
  }
}

@media only screen and (max-width: 1024px) {
  .main-container {
    -ms-grid-columns: 200px auto 200px;
        grid-template-columns: 200px auto 200px;
  }
}

@media only screen and (max-width: 768px) {
  .main-container {
    -ms-grid-columns: 150px auto 150px;
        grid-template-columns: 150px auto 150px;
  }
}

@media only screen and (max-width: 567px) {
  .main-container {
    max-width: 100%;
    height: auto;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 10% 5% 45% 40%;
        grid-template-rows: 10% 5% 45% 40%;
    row-gap: 5%;
        grid-template-areas: 'page-header' 'left-sidebar' 'main' 'right-sidebar';
  }
  .main-container .left-sidebar {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: left-sidebar;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 40px;
  }
  .main-container .right-sidebar {
    -ms-grid-rows: 33.3% 33.3% 33.3%;
        grid-template-rows: 33.3% 33.3% 33.3%;
    text-align: center;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-container .right-sidebar .right-top {
    text-align: center;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-container .right-sidebar .right-middle {
    margin-top: 40px;
    margin-bottom: 100px;
  }
}
/*# sourceMappingURL=style.css.map */